[Unit]
Description=Telling status after resume
After=suspend.target

[Service]
Type=simple
ExecStart=python /home/tobias/dotfiles/mqtt-client/mqtt-status.py on

[Install]
WantedBy=suspend.target
