[Unit]
Description=Mount Webdav folder
Wants=network-online.target
After=network-online.target

[Service]
User=tobias
Type=simple
RemainAfterExit=yes
Restart=on-failure
ExecStartPre=/bin/sleep 15
ExecStart=mount /home/tobias/Nextcloud
ExecStop=umount /home/tobias/Nextcloud

[Install]
WantedBy=multi-user.target
